# Node modules
node_modules/

# Logs
*.log

# Environment variables
*.env

# Compiled output
dist/
build/

# Dependency directories
vendor/
bower_components/

# IDE settings
.vscode/
.idea/
.DS_Store

# System files
Thumbs.db
